.displayTop{
    -fx-background-color: #2b2e3b;
}
.displayBottom{
    -fx-background-color: #2b2e3b;
}
.inputField{
    -fx-background-color: #5d6074;
    -fx-text-fill: #ffffff;
}
.keypad{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: #2b2e3b;
}
.keypad:hover{
    -fx-background-color:#e6e6e6;
}
.menu{
    -fx-background-color: transparent;
}
.menu:hover{
    -fx-background-color: #222639;
}
.slider{
    -fx-background-color: #64697e;
    -fx-background-radius: 0 5 5 0;
}
.sliderButton{
    -fx-background-color: transparent;
}
.sliderButton:hover{
    -fx-background-color: #222639;
}